<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('./inc/header')%>
    </head>
<body>
    <%-include('./inc/nav.ejs')%>
    
    <section>
        <h1>Hakkimizda</h1>         
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat quasi cum distinctio iste labore libero officia soluta delectus rem voluptatibus neque, eligendi sint, in sit possimus quaerat commodi at repellendus!</p>
    </section>
</body>
</html>